<div class = "container">
  <h1>{{ title }}</h1>
  <ul>
    <p *ngIf="todos.length==0"><small>Não tem nenhuma tarefa hoje!</small></p>
    <li *ngFor="let todo of todos">{{ todo.id }} - {{ todo.title }} - 
      <button *ngIf = "!todo.done" (click)="markAsDone(todo)">Concluir</button> | 
      <button *ngIf = "todo.done" (click)="marksAsUndone(todo)">Refazer</button> | 
      <button (click)="remove(todo)">Remover</button></li>
  </ul>

  <form [formGroup]="form">
    <fieldset>
      <label for="">Tarefa: </label>
      <input type="text" maxlength="60" formControlName="title">
      <small *ngIf="form.controls.title.invalid && !form.controls.pristine">Este campo deve conter de 3 a 60 caracteres </small>
      <button [disabled] ="form.invalid" (click)="add()">Salvar</button>
    </fieldset>
  </form>
</div>